<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="serilog:minimum-level" value="Verbose" />
	<add key="serilog:using:File" value="Serilog.Sinks.File" />
	<add key="serilog:write-to:File.path" value="C:\logs\restaurant-.log" />
	<add key="serilog:write-to:File.outputTemplate" value="{Timestamp::yyyy-MM-dd HH:mm:ss.fff} [{Level:u3}] ({SourceContext}) {Message}{NewLine}{Exception}" />
	<add key="serilog:write-to:File.shared" value="true" />
	<add key="serilog:write-to:File.rollingInterval" value="Day"/>
  </appSettings>
  <connectionStrings>
    <add name="RestaurantDb" connectionString="Data Source=restaurant.db;New=True;BinaryGuid=False" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>